/* 
    Created on : 7-nov-2019, 12:16:44
    Author     : Docent
*/
:root{
    --PrimaryColor:   #a8aa39; /* Grassgreen*/
    --SecondaryColor: #32a8e2; /* Green */
    --ShadeOfWhite:   #FEFFE7; /* White with a hint of green */
    --ShadeOfBlack:   #282900; /* Green black */
    --SecondBlack:    #686905; /* Darker green */
}

body{
    background-color:   var(--PrimaryColor);
    color:              var(--ShadeOfBlack);
}

h1{
    font-size:  56pt;
    color:      var(--ShadeOfWhite);
}

h2{
    font-size:  32pt;
    color:      var(--ShadeOfBlack);
}

a{
    font-size:          14pt;
    text-decoration:    none;
    color:              var(--ShadeOfWhite);
}

a:hover {
    color:              var(--ShadeOfBlack);
    background-color:   var(--ShadeOfWhite);
}
/* ================= Classes ===================*/
/* #box{ ID's worden allen gebruikt voor JS
getElementByID()
*/
    

.box1{
    background-color:   var(--SecondBlack);
    color:              var(--ShadeOfWhite);
}
/* =============== Definition of the boxmodel class ===============*/
.boxmodel{
    /* border:     5px dotted black; */ /* A solid black line around the element*/
    border-top:     4px double pink;
    border-left:    10px double orange;
    border-bottom:  2px solid blue;
    border-right:   5px dashed aquamarine;
    padding:        25px; /* Distance between the border and the element content*/
    margin-left:    3%;  /* Distance between the left edge of the page and the element*/
    margin-top:     5%;  /* Distance between the last element and the next*/
    margin-bottom:  5%;  /* Distance between the content the next element*/ 
    width:          75%; /* Width of the element*/
    background-color: grey;
    color:          yellow;
}

.maincontainer{
    width:      80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--SecondaryColor);
}

.contentcontainer{
   width:      80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--ShadeOfWhite); 
}
/* ======= Definition of the cols ========*/
.row  { display: flex; width: 100%;}
.col-1{ display: flex; width: 8.33%;}
.col-2{ display: flex; width: 16.67%;}
.col-3{ display: flex; width: 25%;}
.col-4{ display: flex; width: 33.33%;}
.col-5{ display: flex; width: 42.67%;}
.col-6{ display: flex; width: 50%;}
.col-7{ display: flex; width: 58.33%;}
.col-8{ display: flex; width: 66.67%;}
.col-9{ display: flex; width: 75%;}
.col-10{ display: flex; width: 83.33%;}
.col-11{ display: flex; width: 91.67%;}
.col-12{ display: flex; width: 100%;}

.red   {background-color: red;}
.yellow{background-color: yellow;}
.blue  {background-color: blue;}